img{width: 30%;
    height: 40%;}
    section>article{
        width: 40%;
        padding: 1%; 
        margin: 30px 1.5%;
        background-color: rgb(185, 187, 190);
        border: solid 1px black;
        border-radius: 10px;
        float: left;
        text-align: justify;
        
        
        
    }
    article{
        width: 60%;
        padding: 1%; 
        margin: 30px 1.5%;
        background-color: rgb(238, 237, 220);
        border: solid 1px black;
        border-radius: 10px;
        float: right;
        text-align: justify;
        height: 60%;
    
    }
    h2{text-align: center;}
    h1{font-size: 50px;
        text-align: center;
        border-style: solid;
        background-color: #eaebec;
    }
    header{font-size: 60px;
    text-align: center;
    font-style: oblique;
    color: aliceblue;
    background-color: #7fb6ff;}
    img.carros{width: 70%;
    margin: 10px auto;
    display: block;}
    p.precio{float: left;
    font-size: 50px;
    border: 2px solid black;
    padding: 10px;
    background-color: rgb(118, 226, 163);
    }
    body{background-color: rgb(44, 39, 66);}